* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  height: 100vh;
  position: relative;
  background-color: #ffeef4;
  overflow: hidden;
}
nav {
  width: 100%;
  position: absolute;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

nav > ul > li {
  padding: 3em;
}

header > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

header > div > div {
  height: 100px;
  width: 50vw;
  margin: 0 300px 0 2em;
}
