* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  height: 100vh;
  position: relative;
  background-color: #ffeef4;
  overflow: hidden;
}
nav {
  width: 100%;
  position: absolute;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

nav > ul > li {
  padding: 3em;
}

header > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

header > div > div {
  height: 100px;
  width: 50vw;
  margin: 0 300px 0 2em;
}
header > video {
  position: absolute;
}

@media (min-aspect-ratio: 16/9) {
  header > video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 186/9) {
  header > vide {
    width: auto;
    height: 100%;
  }
}

header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3rem;
}
